body {
    margin: 20px;
}

.demo-form {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
}

.results {
    margin-top: 30px;
}

.spinner {
    vertical-align: middle;
    display: none;
    margin-left: 20px;
}